
snippet stringify "stringify"
console.log(JSON.stringify($1,null,4));
endsnippet

snippet log "log"
console.log($1)
endsnippet

snippet req "require"
const $1 = require('$2')
endsnippet

snippet throw "throw error"
if (err) throw err
endsnippet
	
